if items
  .row
    .col-xs-offset-1.col-xs-4
      .key__image-wrapper
        img(alt="ключи").key__image
    .col-xs-4
      .box чтобы выпал нужный ключ
    .col-xs-2
      .box
        button заказать
else
  each item in items
    .row
      .col-xs-offset-1.col-xs-4
        .col-xs-offset-1.col-xs-4
          .key__image-wrapper
            img(alt="ключи").key__image
      .col-xs-4
        .box= 'availability ' + item.availability
        .box= 'costChip ' + item.costChip
        .box= 'costPatch ' + item.costPatch
        .box= 'costSharpening ' + item.costSharpening
        .box= 'desc ' + item.desc
        .box= 'expressDelivery ' + item.expressDelivery
        .box= 'id ' + item.id
        .box= 'img ' + item.img
        .box= 'name ' + item.name
        .box= 'selfDelivery ' + item.selfDelivery
      .col-xs-2
        .box
          button заказать
