if empty
  .row
    .col-xs-offset-1.col-xs-4.key__empty
      .key__image-wrapper
        img(src="/assets/img/keys-empty.png" alt="ключи").key__image
    .col-xs-3.key__empty
      .key__empty-header Чтобы выпал нужный ключ
      .key__empty-text Необходимо выбрать
      .key__empty-text марку, модель и год выпуска
      .key__empty-text вашего автомобиля

    .col-xs-1
      .key__empty-arrow-wrapper
        img(src="/assets/img/keys-empty-arrow.png" alt="ключи").key__empty-arrow
    .col-xs-2
    .col-xs-offset-1

else
  each item in items
    .row.key.common-width
      .col-xs-offset-1.col-xs-4
        .key__image-wrapper
          img(src="/assets/goods/" + item.img alt="ключи").key__image

      .col-xs-6

        .key__name= item.name + ' ' + item.id
        .key__description= item.desc

        .row
          .col-xs-8

            .row
              .col-xs-9.key__caption Стоимость чипа
              .col-xs-3.key__value= item.costChip + ' р'

            .row
              .col-xs-9.key__caption Программирование ключа
              .col-xs-3.key__value= item.costPatch + ' р'

            .row
              .col-xs-9.key__caption Заточка лезвия
              .col-xs-3.key__value= item.costSharpening + ' р'

            .row.key__price-total
              .col-xs-9.key__caption Итого
              .col-xs-3.key__value= +item.costSharpening + +item.costPatch + +item.costChip + ' р'

          .col-xs-4
            .row
              .col-xs-6.key__caption В наличии
              .col-xs-6.key__value= item.availability ? 'Есть' : 'Нет'
            .row
              .col-xs-6.key__caption Самовывоз
              .col-xs-6.key__value= item.selfDelivery + ' день'
            .row
              .col-xs-6.key__caption Курьером
              .col-xs-6.key__value= item.expressDelivery + ' день'
            .row
              .col-xs-12
                button Заказать
