if empty
  .row
    .col-xs-offset-1.col-xs-4.key__empty
      .key__image-wrapper
        img(src="/assets/img/keys-empty.png" alt="ключи").key__image
    .col-xs-3.key__empty
      .key__empty-header Чтобы выпал нужный ключ
      .key__empty-text Необходимо выбрать
      .key__empty-text марку, модель и год выпуска
      .key__empty-text вашего автомобиля

    .col-xs-1
      .key__empty-arrow-wrapper
        img(src="/assets/img/keys-empty-arrow.png" alt="ключи").key__empty-arrow
    .col-xs-2
    .col-xs-offset-1

else
  each item in items
    .row.key
      .col-xs-offset-1.col-xs-4
        .key__image-wrapper
          img(src="/assets/goods/" + item.img alt="ключи").key__image
      .col-xs-4
        .key__name= item.name + ' ' + item.id
        .key__description= item.desc
        .row
          .col-xs-3 Стоимость чипа
          .col-xs-1= item.costChip
        .row
          .col-xs-3 Программирование ключа
          .col-xs-1= item.costPatch
        .row
          .col-xs-3 Заточка лезвия
          .col-xs-1= item.costSharpening
        .row.total
          .col-xs-3 Итого
          .col-xs-1= item.costSharpening
      .col-xs-2
        .row
          .col-xs-1 В наличии
          .col-xs-1= item.availability ? 'Есть' : 'Нет'
        .row
          .col-xs-1 Самовывоз
          .col-xs-1= item.selfDelivery + ' день'
        .row
          .col-xs-1 Курьером
          .col-xs-1= item.expressDelivery + ' день'
        .row
          .col-xs-2
            button Заказать
